* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media-icons li {
  display: inline;
}
